<!DOCTYPE html>
<html>
  <head>
    <title>Photogram</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
    <div id="slidemenu">
      <ul class="nav navbar-nav navbar-right" data-hover="dropdown" data-animations="zoomln fadeln fadelnUp fadeln">
        <% if user_signed_in? %>
          <li class="">
           <%= link_to "mypage", root_path %>
          </li>
          <li class="">
            <%= link_to "users", root_path %>
          </li>
          <li class="">
            <%= link_to "photoes", root_path %>
          </li>
          <li class="">
            <%= link_to "logout", root_path %>
          </li>
        <% else %>
          <li class="">
            <%= link_to "home", root_path %>
          </li>
          <li class="">
            <%= link_to "about", homes_about_path%>
          </li>
          <li class="">
            <%= link_to "signup", new_user_registration_path %>
          </li>
          <li class="">
            <%= link_to "login", new_user_session_path %>
          </li>
        <% end %>
      </ul>
    </div>
  </header>
  
    <%= yield %>
    
  </body>
</html>
